body{
    font-family: tahoma,arial;
}
h1{
    text-align: center;
    color:#e52e2e ;
}
.all {
    width: 1600px;
    height: 365px;
    margin: 50px auto;
    border: 2px solid #ddd;
    padding: 3px;
    box-sizing: border-box;
} 
.container{
    width: 1300px;
    margin-left: 130px;
}
.contant {
    width: 96.2%;
    height: 78%;
    padding: 15px 30px ;
    background-color: #333;
    margin: 0;
 
}
/* start contact*/
.contant .contact {
    width: 28%;
    height: 65%;
    float: left;
    margin: 5px 10px  10px;
}
.contact h3 { color: #f1f1f1; font-weight: normal;}
.contact p { color: #888; line-height: 1.5; font-size: 14px;}
.contact .text {
    width: 45%;
    float: left;
}
.contact .text h4 {color: #888; margin: 2px; font-size: 14px;}
.contact .text p  {color: #f1f1f1; margin: 2px; font-size: 13px; margin-bottom: 10px;}

/* end contact*/
/* start info*/
.contant .info {
    width: 15%;
    height: 65%;
    float: left;
    margin: 5px 10px  10px;
}
.info h3 {color:#f1f1f1; font-weight:normal; margin-left:30px ; }
.info ul {list-style: none;color:#888; line-height: 1.8; margin-left:-5px;font-size: 14px}
/* end info*/
/* start myaccount*/
.contant .myaccount{
    width: 15%;
    height: 65%;
    float: left;
    margin: 5px 10px  10px;
}
.myaccount h3 {color:#f1f1f1; font-weight:normal; margin-left:30px ; }
.myaccount ul {list-style: none;color:#888; line-height: 1.8; margin-left:-5px;font-size: 14px}
/* start myaccount*/
/* start news*/
.contant .news{
    width: 32%;
    height: 65%;
    float: left;
    margin: 5px 10px  10px; 
}
.news h3 {color:#f1f1f1; font-weight:normal;}
.news p { color: #888; line-height: 1.5; font-size: 14px;}
.news input[type="email"] {
    width: 200px;
    height: 20px;
    background-color:#4c4c4c ;
    border: none;
    color: #f1f1f1; 
    padding: 5px 10px;
    margin: 8px 2px;
}
.news input[type="submit"] {
    width: 100px;
    height: 28px;
    padding: 5px 10px ;
    background-color:#e52727 ;
    border: none;
    color: #f1f1f1; 
    margin: 8px 2px;
}
.news p { margin: 5px;}
.news ul {list-style: none; margin: 8px 3px;}
.news ul li {
    display: inline-block;
    width: 22px;
    height: 27px;
    padding: 1px 1px 5px 11px;
    margin: 0px 42px 5px -40px;
    border-radius: 50%;
   color: #fff;

}
.news ul .a{background-color:#3c5a99 ;}
.news ul .b{background-color:#00a2e8 ;}
.news ul .c{background-color:#e52e2e ; padding: 1px 5px 5px 6px;}
.news ul .d{background-color:#815dc7 ; padding: 1px 3px 5px 10px;}
.news ul .e{background-color:#ffc338; color: #333;}

.news ul .fa-lg {
    font-size: 20px;
    line-height: .75em;
    vertical-align: -48%;
}
/* end news */
footer {
  width: 96.2% ;
  height: 12.5%;
  padding: 10px 30px ;
  margin:-18px 0 0 0;
  background-color: #2b2b2b;
}
footer p {color: #f1f1f1; font-size: 14px; float: left;}
footer span { color: #888;}
footer ul { 
    list-style: none; 
    float: right;
    margin: 5px 80px 0 0 ;
}
footer ul li {
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 5px 8px ;
} 


